.inlineblock{
    display: inline-block;
    display: flex;
    justify-content: center;
    border: none;
}
.textbox{
    margin-bottom: 50px;
}
.inlineblock2{
    display:inline-block;
    display:flex;
    justify-content: center;
}
.align{
    display: flex;
    justify-content: center;
    border:none;
}
.mar{
    margin-right: 30px;
}
.inline{
    display: inline-block;
    width: 200px;
    margin-left: 45px;
    vertical-align: top;
}
.obj{
    background-size: cover;
    background-position:center centre;
    background-repeat:no-repeat;
    background-attachment:fixed ; 
}
.g{
    color:rgb(42, 165, 61);
    font-size: 60px;
}
.f{
    font-style:oblique;
    font-size: 50px;
}
th,td{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}