.head{
    text-align: center;
    color:White;
    background-color: red;
    font-size: 100px;
    font-weight: 50px;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.al{
    margin-bottom:30px;
}

.obj{
    background-size: cover;
    background-position:center centre;
    background-repeat:no-repeat;
    background-attachment:fixed ; 
}
.button{
    width: 250px;
    text-align:center;
    padding-top: 50x;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:10px;
    background-color: green;
    cursor:pointer;

}
.inlineblock{
    display:inline-block;
    width:300px

}