.head{
    text-align: center;
    color:White;
    background-color: red;
    font-size: 100px;
    font-weight: 50px;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.al{
    margin-bottom:30px;
}

.obj{
    background-size: cover;
    background-position:center centre;
    background-repeat:no-repeat;
    background-attachment:fixed ; 
}
.button{
    width: 250px;
    padding-top: 50x;
    margin-left: 0;

}
.inlineblock{
    display:inline-block;

}