.inlineblock{
    display: inline-block;
    display: flex;
    justify-content: center;
    border: none;
}
.textbox{
    margin-bottom: 50px;
}
.inlineblock2{
    display:inline-block;
    display:flex;
    justify-content: center;
}

